USE [master]
GO
/****** Object:  Database [PDS]    Script Date: 11/22/2012 19:14:59 ******/
CREATE DATABASE [PDS] ON  PRIMARY 
( NAME = N'PDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PDS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PDS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PDS]
GO
/****** Object:  Table [dbo].[PDSUsers]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSUsers](
	[ID] [int] NOT NULL,
	[FirstName] [nchar](10) NOT NULL,
	[LastName] [nchar](10) NOT NULL,
	[UserID] [nchar](10) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_PDSUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSTasks]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSTasks](
	[ID] [nchar](10) NOT NULL,
	[TaskName] [nchar](10) NOT NULL,
	[Description] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSRx]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSRx](
	[ID] [int] IDENTITY(900000,1) NOT NULL,
	[WrittenDate] [datetime] NULL,
	[SIG] [nvarchar](50) NULL,
	[ExpirationDate] [datetime] NULL,
	[PatientID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[PrescriberID] [int] NOT NULL,
	[RefillsAllowed] [int] NOT NULL,
 CONSTRAINT [PK_PDSRx] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSRoleTaskMappings]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSRoleTaskMappings](
	[RoleID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[Description] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSRoles]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSRoles](
	[ID] [nchar](10) NOT NULL,
	[Name] [nchar](10) NULL,
	[Description] [nchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSQueueStates]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSQueueStates](
	[ID] [int] NOT NULL,
	[State] [nchar](10) NOT NULL,
	[Description] [nchar](30) NULL,
 CONSTRAINT [PK_PDSQueue] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[State] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSProduct]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSProduct](
	[ID] [int] IDENTITY(800000,1) NOT NULL,
	[Name] [nchar](20) NULL,
	[NDC] [nchar](10) NOT NULL,
	[Description] [nchar](50) NULL,
	[Image] [nchar](10) NULL,
 CONSTRAINT [PK_PDSProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSPrescriber]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSPrescriber](
	[ID] [int] IDENTITY(70000,1) NOT NULL,
	[FirstName] [nchar](20) NULL,
	[LastName] [nchar](20) NULL,
	[NPI] [nchar](10) NULL,
	[DEA] [nchar](10) NULL,
	[Address] [nvarchar](150) NULL,
 CONSTRAINT [PK_PDSPrescriber] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSPatient]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSPatient](
	[ID] [int] IDENTITY(500000,1) NOT NULL,
	[FirstName] [nchar](20) NOT NULL,
	[LastName] [nchar](20) NOT NULL,
	[MiddleName] [nchar](20) NULL,
	[Phone] [nchar](10) NULL,
	[Email] [nchar](20) NULL,
	[IsBillingMethodCash] [bit] NULL,
	[DOB] [datetime] NOT NULL,
	[Address1] [nchar](50) NULL,
	[Address2] [nchar](50) NULL,
	[City] [nchar](20) NULL,
	[State] [nchar](10) NULL,
	[ZIP] [nchar](10) NULL,
 CONSTRAINT [PK_PDSPatient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDSFill]    Script Date: 11/22/2012 19:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDSFill](
	[ID] [int] IDENTITY(100000,1) NOT NULL,
	[WrittenQty] [int] NULL,
	[DispensedQty] [int] NULL,
	[WrittenDate] [datetime] NULL,
	[DispensedDate] [datetime] NULL,
	[IsSold] [bit] NOT NULL,
	[IsDueApproved] [bit] NOT NULL,
	[IsAdjudicated] [bit] NOT NULL,
	[IsLabelPrinted] [bit] NOT NULL,
	[IsRPHVerified] [bit] NOT NULL,
	[RxID] [int] NOT NULL,
	[State] [int] NULL,
 CONSTRAINT [PK_PDSFill] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
