<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="PDSEntities" connectionString="metadata=res://*/PDSDataModel.csdl|res://*/PDSDataModel.ssdl|res://*/PDSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANOJ-PC;initial catalog=PDS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>